<section class="body-main brands">
    <div class="container-fluid">
        <div class="search-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="addagency pull-right">
                        <label ng-click="openHome();">Add Home Banners</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-seller-product">
        </div>
        <div class="details">
            <div class="info info-edit">
                <div class="row">
                    <div class="col-md-12 rounded-mid perfo-tot">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Banner</th>
                                        <th>Mobile Banner</th>
                                        <th>URL</th>
                                        <th>Order</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="logo">
                                                <img src="img/partner-tata-steel-logo.png" alt="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="logo">
                                                <img src="img/partner-tata-steel-logo.png" alt="">
                                            </div>
                                        </td>
                                        <td>Url for the website</td>
                                        <td>Tata Steel</td>
                                        <td class="">
                                            <!--<i class="fa fa-check-square" aria-hidden="true"></i>-->
                                            Enable
                                        </td>
                                        <td>
                                            <p>
                                                <span ng-click="openHome();">Edit</span>
                                                <span>|</span>
                                                <span>x</span>
                                                <span>|</span>
                                                <span>Delete</span>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>