<section class="body-main request-buyers">
    <div class="container-fluid">
        <div class="request-buyer">
            <div class="search-content">
                <div class="row">
                    <div class="col-md-6" ng-show="showSell">
                        <div class="input-group search-top">
                            <!--<input type="text" class="form-control" placeholder="Search by Seller ID or Name">-->
                            <input type="text" autocomplete="off" class="form-control" ng-model="search" name="name" placeholder="Search by Product ID or Firm Name"
                                ng-change="searchInProducts(search)">
                            <span class="input-group-btn"><i class="btn btn-default fa fa-search" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="col-md-6" ng-show="showProd">
                        <div class="input-group search-top">
                            <!--<input type="text" class="form-control" placeholder="Search by Seller ID or Name">-->
                            <input type="text" autocomplete="off" class="form-control" ng-model="search" name="name" placeholder="Search by Inventory ID"
                                ng-change="searchInMyInventory(search)">
                            <span class="input-group-btn"><i class="btn btn-default fa fa-search" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="col-md-6" ng-show="showSell">
                        <div class="filter pull-right">
                            <label class="">Filter by Status</label>
                            <select class="form-control " ng-model="selectedStatus" ng-change="filterProducts(selectedStatus)">
                                        <option value="All">All</option>
                                        <option value="Pending">Pending Verification</option>
                                        <option value="Verified">Listed</option>
                                        <option value="Rejected">Rejected</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6" ng-show="showProd">
                        <div class="filter pull-right">
                            <label class="">Filter by Status</label>
                            <select class="form-control " ng-model="selectedIStatus" ng-change="filterIStatus(selectedIStatus)">
                                        <option value="All">All</option>
                                        <option value="Pending">Pending Verification</option>
                                        <option value="Verified">Listed</option>
                                        <option value="Rejected">Rejected</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="view-products" ng-show="showSell">
                <div class="view-categ">
                    <div class="row">
                        <div class="col-md-6">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <!--<select name="" id="" class="form-control">-->
                                        <select class="form-control" name="shape" id="shape" ng-model="productAdd.category._id" ng-change="getMocByCat(productAdd.category._id)"
                                            ng-options="category._id as category.name for category in allCategory | orderBy:'createdAt'">
                                        <!--<option ng-repeat="cat in allCategory" value="cat._id">{{cat.name}}</option>-->
                                        <!--<option value="Plates/Sheets">Plates/Sheets</option>
                                        <option value="Coil">Coil</option>
                                        <option value="Roundbar">Roundbar  </option>-->
                                    </select>
                                    </div>
                                    <div class="col-md-3">
                                        <select name="" id="" class="form-control" ng-model="productAdd.moc._id" ng-change="filterMoc(productAdd.moc._id)" ng-options="moc._id as moc.name for moc in allMoc">
                                        <!--<option ng-repeat="moc in allMoc" value="{{moc.name}}">{{moc.name}}</option>-->
                                         </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="category nodata " ng-if="!(allSellerProducts.length>0)">
                    <div class="container">
                        <div class="row">
                            <div class="text-center">
                                <h1>{{allSellerProducts === undefined && 'Loading ..' || 'No Product Found '}}
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="allSellerProducts.length>0">
                    <div ng-repeat="(sel,product) in allSellerProducts | groupBy:'seller'">
                        <div class="buy-head">
                            <h3 class="order-head subhead ng-scope">{{sel}}</h3>
                        </div>
                        <div class="view-seller-product">
                        </div>
                        <table class="table table-bordered request-buyer-table w-auto">
                            <thead>
                                <tr>
                                    <th><strong>SR. NO.</strong></th>
                                    <th class="product-width"><strong>Product NAME</strong></th>
                                    <th>PRICE</th>
                                    <th>STATUS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="products in product">
                                    <td>{{products.productStringId}}</td>
                                    <!--<td>TB{{products.category.name}}{{products.product.productStringId}}</td>-->
                                    <td class="product-width">
                                        <div class="item-info-detail pro-name" ng-if="products.category == 'Pipes'">
                                            {{products.moc}} {{products.type[0]}} {{products.category}}<br/> {{products.gradesstandards}}<br>                                            {{products.odInches}}" NB x Sch{{products.sch}}
                                        </div>
                                        <div class="item-info-detail pro-name" ng-if="products.category == 'Plates/Sheets'">
                                            {{products.moc}} {{products.type[0]}} {{products.category}} <br/> {{products.gradesstandards}}<br>                                            {{products.thickness}} MM Thick x {{products.width}} MM Width x {{products.length}}
                                            MM Length
                                        </div>
                                        <div class="item-info-detail pro-name" ng-if="products.category == 'Roundbar'">
                                            {{products.moc}} {{products.category}}<br/> {{products.gradesstandards}}<br>                                            Dia {{products.diameter}} MM
                                        </div>
                                        <div class="item-info-detail pro-name" ng-if="products.category == 'Coil'">
                                            {{products.moc}} {{products.type[0]}} {{products.category}}<br/> {{products.gradesstandards}}<br>                                            {{products.thickness}} MM Thick x {{products.width}} MM Width x Length Coil
                                        </div>
                                    </td>
                                    <!--<td>{{pro.gradesstandards.name}}</td>-->
                                    <!--<td>25.4 mm</td>
                            <td>{{pro.sch}}</td>
                            <td>{{pro.thickness}}</td>-->
                                    <!--<td><span ng-if="products.category.name==='Pipes' || products.category.name==='Roundbar'">{{products.totalQty}}</span>
                                    <span ng-if="products.category.name==='Coil' || products.category.name==='Plates/Sheets'">{{products.quantityInNos}}</span>
                                </td>-->
                                    <td>
                                        <span ng-if="products.category==='Pipes' || products.category==='Roundbar'">{{products.finalPrice.toFixed(2)}} per meter</span>
                                        <span ng-if="products.category==='Coil' || products.category==='Plates/Sheets'">{{products.finalPrice.toFixed(2)}} per kg</span>
                                    </td>
                                    <td class="view-td final-center">
                                        <!--<a ui-sref="view-request-buyers"><label class="view">VIEW</label></a>-->
                                        <a class="inline-block" ng-click="editProduct(products.product._id)"><label class="view formatEdit">EDIT</label></a>
                                        <a class="inline-block"><label class="view formatEdit">|</label></a>
                                        <a class="inline-block" ng-click="showProduct(products.product)"><label class="view formatEdit">VIEW</label></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row text-center" ng-if="allSellerProducts.length>0">
                    <ul uib-pagination total-items="totalSizes" ng-model="constraints.pagenumber" class="pagination-sm" items-per-page="constraints.pagesize"
                        ng-change="getAllSellerProducts()"></ul>
                </div>
            </div>
            <!--<div class="view-sell-stock">
                <div class="checkin favour orders sellorders myproduct">
                    <div class="table-invent mycart-table">
                        <div class="item-detail invent-head">
                            <div class="item-info-detail pull-left">
                                <h3 class="font-karla-bold">Stock</h3>
                            </div>
                            <div class="item-info-detail pull-right backcursor">
                                <p class="font-karla-bold">
                                    <span class="arrow font-karla"> < </span> Back to my products</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                     
                        <div class="pull-left">
                            <h3 class="font-karla-bold pop-up"><span>Stainless Steel</span><span>Seamless</span><span>Pipes</span></h3>
                            <h3 class="font-karla-bold pop-up"><span>ASTM A-312</span><span>1/4 NB (Inches)</span><span>x</span><span>SCH 10</span></h3>
                        </div>
                        <div class="clearfix"></div>
                        <table class="table mycart">
                            <thead class="font-karla">
                                <tr>
                                    <th class="text-center">Stock Id</th>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Available Stock</th>
                                    <th class="text-center">City</th>
                                    <th class="text-center">MTC</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="border-left text-center">
                                        <div class="item-detail">
                                            <div class="item-info-detail">
                                                <h3 class="">ABC_001</h3>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center font-karla">
                                        <div class="item-info-detail">
                                            <h3 class="font-karla">26 June 2016</h3>
                                        </div>
                                    </td>
                                    <td class="text-center font-karla">
                                        <div class="item-info-detail">
                                            <h3 class="">200</h3>
                                        </div>
                                    </td>
                                    <td class="text-center font-karla">
                                        <div class="text-center">
                                            <span class="font-karla">Mumbai</span>
                                        </div>
                                    </td>
                                    <td class="text-center font-karla">
                                        <div class="chpass text-center">
                                            <span class="">View</span>
                                        </div>
                                    </td>
                                    <td class="text-center font-karla">
                                        <div class="item-info-detail status ">
                                            <h3 class="text-uppercase ">Approved</h3>
                                    
                                        </div>
                                    </td>
                                    <td class="text-center font-karla  border-right">
                                        <div class="chpass backcursor">
                                            <span ui-sref="viewstock" class="">View Stock</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border-left text-center">
                                        <div class="item-detail">
                                            <div class="item-info-detail">
                                                <h3 class="">ABC_001</h3>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center font-karla">
                                        <div class="item-info-detail">
                                            <h3 class="font-karla">26 June 2016</h3>
                                        </div>
                                    </td>
                                    <td class="text-center font-karla">
                                        <div class="item-info-detail">
                                            <h3 class="">200</h3>
                                        </div>
                                    </td>
                                    <td class="text-center font-karla">
                                        <div class="text-center">
                                            <span class="font-karla">Mumbai</span>
                                        </div>
                                    </td>
                                    <td class="text-center font-karla">
                                        <div class="chpass text-center">
                                            <span class="">View</span>
                                        </div>
                                    </td>
                                    <td class="text-center font-karla">
                                        <div class="item-info-detail status ">
                                           
                                            <h3 class="text-uppercase ">Pending</h3>
                                           showSeller
                                        </div>
                                    </td>
                                    <td class="text-center font-karla  border-right">
                                        <div class="chpass backcursor">
                                            <span ui-sref="viewstock" class="">View Stock</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>-->
            <div class="view-sell-prod" ng-show="showProd">
                <div class="invent-head">
                    <div class="info-detail pull-left">
                        <h3 class="font-karla-bold">Stock</h3>
                    </div>
                    <div class="item-info-detail pull-right backcursor" ng-click="showSellerProduct()">
                        <p class="font-karla-bold"><span class="arrow font-karla">&lt;</span> Back to Seller Products</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="pull-left" style="margin-bottom:10px;" ng-if="allStock[0].category.name == 'Pipes'">
                        <!--<h3 class="font-karla-bold pop-up"><span>{{allStock[0].moc.name}}</span><span>{{allStock[0].type.name}}</span><span>{{allStock[0].category.name}}</span></h3>
                        <h3 class="font-karla-bold pop-up"><span>{{allStock[0].odMm}}</span><span>{{allStock[0].odInches}} (Inches)</span><span>x</span><span>{{allStock[0].sch}}</span></h3>-->
                        <h3 class="font-karla-bold pop-up "><span>{{allStock[0].moc.name}}</span><span>{{allStock[0].type.name}}</span><span>{{allStock[0].category.name}}</span></h3>
                        <h3 class="font-karla-bold pop-up "><span>{{allStock[0].gradesstandards.name}}</span><span>{{allStock[0].odInches}}" NB</span><span>x</span><span>SCH {{allStock[0].sch}}</span></h3>
                    </div>
                    <div class="pull-left " style="margin-bottom:10px;" ng-if="allStock[0].category.name == 'Plates/Sheets'">
                        <h3 class="font-karla-bold pop-up "><span>{{allStock[0].moc.name}}</span><span>{{allStock[0].category.name}}</span></h3>
                        <h3 class="font-karla-bold pop-up "><span>{{allStock[0].gradesstandards.name}}</span><span> </span><span>{{allStock[0].thickness}} MM Thick</span><span>x</span><span>{{allStock[0].width}} MM Width</span><span>x</span><span>{{allStock[0].length}} MM Length</span></h3>
                    </div>
                    <div class="pull-left " style="margin-bottom:10px;" ng-if="allStock[0].category.name == 'Coil'">
                        <h3 class="font-karla-bold pop-up "><span>{{allStock[0].moc.name}}</span><span>{{allStock[0].category.name}}</span></h3>
                        <h3 class="font-karla-bold pop-up "><span>{{allStock[0].gradesstandards.name}}</span><span> </span><span>{{allStock[0].thickness}} MM Thick</span><span>x</span><span>{{allStock[0].width}} MM Width</span><span>x</span><span>Length Coil</span></h3>
                    </div>
                    <div class="pull-left " style="margin-bottom:10px;" ng-if="allStock[0].category.name == 'Roundbar'">
                        <h3 class="font-karla-bold pop-up "><span>{{allStock[0].moc.name}}</span><span>{{allStock[0].category.name}}</span></h3>
                        <h3 class="font-karla-bold pop-up "><span>{{allStock[0].gradesstandards.name}}</span><span></span><span>Dia {{allStock[0].diameter}} MM</span></h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <table class="table table-bordered request-buyer-table view-prod text-center w-auto">
                    <thead>
                        <tr>
                            <th><strong>STOCK</strong></th>
                            <th><strong>DATE</strong></th>
                            <th><strong>AVAILABLE STOCK</strong></th>
                            <th class="fix-width"><strong>WAREHOUSE</strong></th>
                            <th><strong>MTC</strong></th>
                            <!--<th></th>-->
                            <th>STATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="stock in allStock">
                            <td>{{stock.invenotryStringId}}</td>
                            <!--<td>TBI{{stock.inventoryId}}</td>-->
                            <td>{{stock.createdAt | date:'dd-MM-yyyy'}}</td>
                            <td><span ng-if="stock.category.name==='Pipes' || stock.category.name==='Roundbar'">{{stock.totalQty}}</span>
                                <span ng-if="stock.category.name==='Coil'">1</span>
                                <span ng-if="stock.category.name==='Plates/Sheets'">{{stock.quantityInNos}}</span>
                            </td>
                            <td class="fix-width">{{stock.seller.warehouseAddress}}, {{stock.seller.warehouseCity}}, {{stock.seller.warehousePincode}}</td>
                            <td class="text-center font-karla " ng-if="stock.mtcStatus != 'Notavailable'">
                                <div class="item-info-detail">
                                    <h5 class="mgn0" ng-if="stock.mtcStatus == 'Original'">MTC Certified</h5>
                                    <h5 class="mgn0" ng-if="stock.mtcStatus == 'Photocopy'">MTC Certified (Photocopy)</h5>
                                </div>
                                <div class="chpass text-center ">
                                    <a fancybox-box ng-href="{{stock.mtcImage | uploadpath}}" rel="fancybox" target="_blank">
                                        <span class="view1">View</span>
                                    </a>
                                </div>
                            </td>
                            <td class="text-center font-karla " ng-if="stock.mtcStatus == 'Notavailable'">
                                <div class="item-info-detail">
                                    <!--<h3>Not MTC Certified</h3>-->
                                    <h5 class="mgn0">Not MTC Certified</h5>
                                </div>
                            </td>
                            <!--<td class="view-td final-center">
                                <a><label class="view formatEdit">Edit</label></a>
                            </td>-->
                            <td class="view-td final-center">
                                <label class="stat formatStatus" ng-if="stock.status!='Rejected' && stock.status == 'Verified'">{{stock.status}} by {{stock.agencyid.agencyName}}</label>
                                <label class="stat formatStatus" ng-if="stock.status!='Rejected' && stock.status == 'Pending'">{{stock.status}} for Inspection</label>
                                <label class="stat formatStatus" ng-if="stock.status!='Rejected' && stock.status == 'Assigned'">{{stock.status}} to {{stock.agencyid.agencyName}}</label>
                                <label class="stat formatStatus" ng-if="stock.status!='Rejected' && stock.status == 'Inspected'">{{stock.status}} by {{stock.agencyid.agencyName} </label>
                                <label class="stat formatStatus" ng-if="stock.status=='Rejected'">Rejected</label>
                                <a class="inline-block" ng-if="stock.status!='Rejected'" ng-click="editProduct(products.product._id)"><label class="view formatEdit">EDIT</label></a>
                                <a class="inline-block" ng-if="stock.status!='Rejected' && stock.status=='Verified'"><label class="view formatEdit">|</label></a>
                                <a class="inline-block" ng-if="stock.status=='Verified'"><label class="view formatEdit colorStats">Live</label></a>
                                <a class="inline-block" ng-if="stock.status=='Rejected'"><label class="view formatEdit colorStat">Rejected</label></a>
                                <!--<a ui-sref="view-request-buyers"><label class="view">VIEW</label></a>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>